

body {
  animation: mymove 90s infinite;
	background-color:#cde364;
	background-image: radial-gradient(#fff 10%, transparent 10%),
	radial-gradient(#fff 10%, transparent 10%);
	background-size: 30px 30px;
	background-position: 0 0, 15px 15px;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes mymove {
  from {background-color: red;}
  20%  {background-color: pink;}
  35%  {background-color: white;}
  50% {background-color: blue;}
  60% {background-color: black;}
  75% {background-color: #cde364;}
  to {background-color: orange;}
}

/* Standard syntax */
@keyframes mymove {
  from {background-color: red;}
  20%  {background-color: pink;}  
  35%  {background-color: white;}
  50% {background-color: blue;}
  60% {background-color: black;}
  75% {background-color: #cde364;}
  to {background-color: orange;}
}
header{
	margin-bottom: 80px;
}
.mt-20 {
	margin-top: 20px;
}
.brcolor{ 
	border: 7px solid;
  border-color: #6CC644 #FFC621 #DE6525 #256A84;
}
.sliderbordercolor , .content{
	border-width: 7px;
  border-style: solid;
  border-color: #ccc #666 black ;
}
.aboutlogos{
  background-color: darkblue;
}
.content{
  margin-top: 20px;
  background-color:dimgrey;
  opacity: 0.95;
  padding-bottom: 10px;
}
.headerborder{
  color: #6CC644 blue;
  border: medium solid;
  border-style: ridge dashed solid;
}
.ultimate{ 
	background-color: orange;
	border-top: 3px dotted #000;
	border-bottom: 3px dotted #000;
	box-shadow: inset 0 -1px 0 0 #000, inset 0 1px 0 0 #000, 0 1px 0 0 #000, 0 -1px 0 0 #000;
	margin-bottom: 1px;
}
.menuborder a {
  background-color: olive;
  font-size: 20px;
  font-weight: bolder;
  border: 2px solid orange;
  width: auto;
  border-radius: 50px 20px;
  padding: 1% 2%;
  color:white;
  }
.menuborder a:hover{
  background-color:yellow;
  color: blue !important;  
  border-radius:60%;
  border-color: orange;
  text-decoration: underline;
 }
 #submit {
  visibility: hidden;
  font-size: 20px;
  border: 2px solid orange;
  background:rgb(28, 56, 1);
  margin-bottom: 10px;
  margin-top: 5px; 
  animation: glowing 1500ms infinite;
}
@keyframes glowing {
  0% {
    background-color: #2ba805;
    box-shadow: 0 0 3px #5458d1;
  }
  50% {
    background-color: #48773a;
    box-shadow: 0 0 10px #238904;
  }
  75% {
    background-color: #121214;
    box-shadow: 0 0 3px #a8ed93;
  }
  100% {
    background-color: #736df0;
    box-shadow: 0 0 3px #a8ed93;
  }
}

#submit:hover{
  color:black;
  background-color: whitesmoke;
  font-size: 18px;
  font-weight: bold;
}
.lead{
  padding: 15px;
  margin-top: 4px;
  border-radius: 10%;
  border: solid 2px black ;
  font-size: 22px;
  font-style: italic;
}
.call-time{
  margin-bottom: 50px;
}
#showBox{
  display:none;
}
.e-mail:before {
  content: attr(data-website) "\0040" attr(data-user);
  unicode-bidi: bidi-override;
  direction: rtl;
  letter-spacing: 3px;
}
.e-phone:before {
  content: attr(data-website) attr(data-user);
  unicode-bidi: bidi-override;
  direction: rtl;
  letter-spacing: 3px;
}
.credibility{
  padding-bottom: 20px;
  font-size: 20px;
}
#thanks{
  border-radius: 20%;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: larger;
  background-color:mediumblue;
  opacity: 0.8;
  margin-left: auto;
  margin-right: auto;
  max-width: fit-content;
  padding: 50px;
  text-align: center;
  color: aliceblue;
}
#thanks img {
  max-width:100%;
  margin-top: 10px;
}
.nav-link {
color: white !important;
}
#totop {
	color:white;
  margin-top: 20px;
  margin-bottom: 10px;
}
.carousel {
  width:auto;
  height:auto;
}
.demotext {
  color:rgb(30, 11, 246);
}
h4 { color: blue;
  }
.btn-primary {
   font-weight: bold;
}
.btn-primary:hover {
    background-color: black !important;
} 
h4 {
	font-family: fantasy;
	text-align: center;
}
#aboutkeys{
  margin-bottom: 30px;
}
.callnow{
  color: blue;
  background-color: rgb(240, 245, 140);
  font-weight: bold;
  border-radius: 14%;
  padding: 2px;
  border-width: 3px;
  font-size: 20px;
}
.callnow:hover{
  color:rgb(204, 206, 217);
  background-color: rgb(87, 16, 242);
  font-weight: bold;

}
.pay{
  border-radius: 20%;
  background-color: gold;
  color: rgb(1, 1, 33);
  border: 2px solid whitesmoke;
}
a .pay:hover {
  font-size: 24px;

}
.privacy {
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #938686;
  color:whitesmoke;
  opacity: 0.95;
  border-radius: 20%;
}
.privacy p {
  color: rgb(11, 2, 0);
  font-size:large;
  font-style: oblique;
}
.spamwrappr {
  display: flex;
  flex-direction: column;
  /*align-items: center; */
  justify-content: center;
}

#generated-captcha {
  text-decoration: line-through;
  font-weight: bold;
  text-align: center;
  background-color: #9b8eae;
  border-radius: 6px;
  border:none;
  padding: 1px;
  font-size: 18px;
  outline: none;
  color: rgb(30, 21, 3);
}
#entered-captcha {
  margin-top: 5px;
  margin-bottom: 8px;
  border: 3px solid #0a40e0;
  font-family: monospace;
  outline: none;
  border-radius: 6px;
  padding: 2px 2px;
  font-size: 14px;
}
#gen {
  background-color: #1029cd;
  color: #ccc;
}
#paybox{
  width:80%; 
  height:600px; 
  margin:1%; 
  margin-left: 10%; 
  border-radius: 20%; 
  border: 6px solid blueviolet;
  background-color:lightskyblue;
  box-shadow: 10px 10px 5px 12px rgb(160, 171, 175);
  opacity: 0.95;
}
.footerborder{
	height: auto;
  background-color: #313537;
	border-bottom: 7px dotted #000;
	box-shadow: inset 0 -3px 0 0 #000, 0 3px 0 0 #000;
	border-top: 7px dotted #000;
	box-shadow: inset 0 3px 0 0 #000, 0 -3px 0 0 #000;
  color: aqua;
  margin-top: 20px;
  padding-bottom: 5px;
}

.footerborder button:hover, .pay:hover{
  font-size: 18px;
  color: chartreuse;
}
footer p {
	font-family: cursive;
	font-weight: bold;
	font-stretch: expanded;
	font-size: 14px;
}
@media only screen and (max-width: 400px) {
  .ultimate{
    display: none;
  }
  .footerborder{
    background:chocolate;
  }
}
